<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661443106335-bbpva08hngndckk2hmnj8uruoq7shpqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661443106335-bbpva08hngndckk2hmnj8uruoq7shpqr</string>
	<key>API_KEY</key>
	<string>AIzaSyDWK7wWv076ZzuetqGR8YQTQ2lK87G-SB0</string>
	<key>GCM_SENDER_ID</key>
	<string>661443106335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aes.AESApp</string>
	<key>PROJECT_ID</key>
	<string>aes-app-755d2</string>
	<key>STORAGE_BUCKET</key>
	<string>aes-app-755d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:661443106335:ios:4f5bc098d72e6e6fa8272a</string>
	<key>DATABASE_URL</key>
	<string>https://aes-app-755d2.firebaseio.com</string>
</dict>
</plist>
